/* -------------Header card-------------- */
.container_card{
  width: 260px;
  height: 430px;
  background-color: #ffffff;
  border-radius: 25px;
  margin: 10px;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.1));

  .header_content{
    background-color: transparent;
    width: 260px;
    height: 200px;

    .header_img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }


  /* -----------Body card--------------- */
  .body_content{
    padding-left: 10px;
    padding-right: 10px;

    .hotel_title{
      font-size: 13px;
    }
  
    .address{
      display: flex;

      .fa-location-dot{
        font-size: 14px;
        color: #555bcc;
        /* background-color: blueviolet; */
        align-self: center;
      }

      .hotel_address{
        font-size: 13px;
        padding-left: 10px;
      }
    }

    .rating{
      display: flex;

      .fa-star-half-stroke{
        font-size: 14px;
        color: gold;
        /* background-color: blueviolet; */
        align-self: center;
      }

      .hotel_rating{
        color: darkgray;
        font-size: 13px;
        padding-left: 5px;
      }
    }

    .services{

      .services_title{
        font-size: 14px;
      }

      .services_icons{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        .service{
          width: 35px;
          height: 35px;
          background-color: #f1f1ff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;

          .styles_services{
            font-size: 13px;
            color: #555bcc;
          }
        }
      }
    }
  }

  /* ---------Footer card--------- */
  .footer_content{
    display: flex;
    padding: 0 10px 5px 10px;
    justify-content: space-between;

    .price_content{

      .hotel_price{
        font-size: 13px;
        font-weight: 600;
      }

      .description_price{
        font-size: 10px;
        font-weight: 500;
        color: darkgray;
      }
    }

    .buttom_content{
      .hotel_see_more{
        border-radius: 8px;
        color: #f1f1ff;
        border-style: none;
        background-color: #5e63bc;
        height: 30px;
        padding: 5px;
        width: 90px;
        text-align: center;

        &:hover{
          cursor: pointer;
        }

        &:active{
          background: linear-gradient( #f1f1f1f1, #f1f1f1f1);
          color: #555bcc;
        }
      }
    }
  }
  
}